:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }

  body > a{
    text-decoration: none;
  }
   
  .login,
  .image,
  .market-pg {
    min-height: 100vh;
  }
   
  .bg-image {
    background-image: url('../images/login-bg.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-reg-image{
    background-image: url('../images/registrationpagebg.jpg');
    background-size: cover;
    background-position: center;
  }

  .marketing{  
    background-image: url('../images/marketingpagebg.jpg');
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  .login-heading {
    font-weight: 300;
  }
   
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
   
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
   
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }
   
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
   
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
   
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
   
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
   
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
   
  .form-label-group input::placeholder {
    color: transparent;
  }
   
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
   
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    background:rgba(0,0,0,0.6);
    overflow:hidden;
  }

  .center-positioning{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .authbtn a, .show-stocks a{
    text-decoration: none;
    transform: scale(1);
    transition: all 0.3s;
  }

  .authbtn a:hover, .show-stocks a:hover{
    transform: scale(1.1);
  }

  .marketbtn{
    color: #000;
    background: #fff;
    border-radius: 5rem;
    font-size: 1.4rem;
    padding: 5px 16px;
    margin: 5px;
    font-weight: bold;
  }

  .dash{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1cabab;
    background-size: 100% 100%;
  }

  .dash-btn{
    float: right;
    padding: 5px 10px;
    background: #ffffffed;
    border-radius: 5rem;
    text-decoration: none;
    color: red;
    font-weight: bold;
  }

  .dash a{
    text-decoration: none;
  }

  .dash-card{
    margin: 10px 0px;
  }

  .dash-card h3{
    color: #fff;
    font-weight: bold;
  }

  .dash-card-size{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 120px;
  }

  /* Stock Overview Page */
  .show-stocks{
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .formbtnarrange{
    display: flex;
    justify-content: center;
  }

  .formbtnarrange button{
    width: 30%;
  }
  /* Fallback for Edge
  -------------------------------------------------- */
   
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
   
  /* Fallback for IE
  -------------------------------------------------- */
   
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
   
  .error{
    color:red;
    margin-left: 10px;
  }

  @media (max-width:767px){
    .dash-btn{
      float: none;
    }
  }

  @media (max-width:994px){
    .show-stocks{
      height: auto;
    }
    .formbtnarrange button{
      width: 80%;
    }
  }

  @media (max-width:375px){
    .formbtnarrange button{
      width: 100%;
    }
  }

  .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{
    background-color: transparent;
    color: #ffffff !important;
  }

  #quotationimage{
    display: none;
  }

  .hidden{
    display: none;
  }

  .loglistdeleted{
    margin: 0;
    background: red;
    color: #fff;
    font-weight: bold;
  }

  .loglistactive{
    background: green;
    color: #fff;
    font-weight: bold;
  }

  .text-recover{
    color: #663300;
  }